<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
<!-- 		<button type="button" data-toggle="collapse" data-target="#myNavbar"  -->
<!-- 				class="navbar-toggle btn-success px-4 py-2"   -->
<!-- 				style="background-color:Teal; font-weight:bold" -->
<!-- 				th:fragment="boton_menu"> -->
<!-- 			Opciones -->
<!-- 		</button> -->

<!-- 		<div class="container ml-5em" style="width: 15%" th:fragment="menu_ppal"> -->
<!-- 			<div class="navbar navbar-default"> -->
<!-- 				<div class="navbar-header"> -->
<!-- 					<button  th:replace="fragments/menus :: boton_menu"></button> -->
<!-- 				</div> -->
<!-- 				<div class="collapse navbar-collapse" id="myNavbar"> -->
<!-- 					<div class="nav navbar-nav"> -->
<!-- 						<a href="/deps"><b>Departamentos</b></a> -->
<!-- 						<a href="/empleados"><b>Empleados</b></a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div>			 -->
<!-- 		</div> -->

<!-- 		<div id="menu" class="container ml-0" style="width:20%" th:fragment="menu_empleados"> -->
<!-- 			<div class="navbar navbar-default"> -->
<!-- 				<div class="navbar-header"> -->
<!-- 					<button  th:replace="fragments/menus :: boton_menu"></button> -->
<!-- 				</div> -->
<!-- 				<div class="collapse navbar-collapse" id="myNavbar"> -->
<!-- 					<div class="nav navbar-nav"> -->
<!-- 						<a href="javascript:accion_selecc('crear')"><b>Crear</b></a> -->
<!-- 						<a href="javascript:accion_selecc('modificar')"><b>Modificar</b></a> -->
<!-- 						<a href="javascript:accion_selecc('eliminar')"><b>Eliminar</b></a> -->
<!-- 						<a href="javascript:accion_selecc('consultar')"><b>Consultar</b></a> -->
<!-- 						<a href="javascript:accion_selecc('listar')"><b>Listar</b></a> -->
<!-- 						<a href="/">Volver al inicio</a> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div>	 -->
<!-- 			<br>		 -->
<!-- 		</div> -->

		<footer class="footer mx-3" th:fragment="pie_pagina">
			&reg;WA/GR/MD/DH 2022<br>
			Proyecto <b>Servicio T&eacute;cnico SpA</b><br>
			Spring/MVC
		</footer>

	</body>
</html>
